@import url("https://fonts.googleapis.com/css2?family=Moon+Dance&family=Open+Sans:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --box-width: 840px;
  --box-height: 420px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, #ffe9ab, #fda1aa, #fb86a5);
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f1e2;
  width: var(--box-width);
  height: var(--box-height);
  padding: 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;
}
.box .title {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(to right, #ffe9ab, #fda1aa, #fb86a5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}
.box .cake {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
  cursor: pointer;
}
.box .name {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #fb86a5;
  letter-spacing: 1.2px;
  margin: 0;
}
.box .date {
  color: #fb86a5;
}
.box .icon-left,
.box .icon-right {
  position: absolute;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  top: 20px;
}

.box .icon-left {
  background-image: url("assets/imgs/blow.png");
  left: 50px;
  transform: rotate(-15deg);
}
.box .icon-right {
  background-image: url("assets/imgs/blow_right.png");
  right: 50px;
  transform: rotate(15deg);
}
.box .line {
  position: absolute;
  width: 470px;
  height: 2px;

  background-color: rgba(149, 157, 165, 0.1);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.box .line-bot-left {
  left: -25px;
  bottom: 105px;
  transform: rotate(-26.57deg);
}
.box .line-bot-right {
  right: -25px;
  bottom: 105px;
  transform: rotate(-153.43deg);
}
.box .line-top-left {
  left: -25px;
  top: 175px;
  transform: rotate(26.57deg);
  z-index: 2;
}

.box .line-top-right {
  right: -25px;
  top: 175px;
  transform: rotate(153.57deg);
  z-index: 2;
}
.box .rectangle {
  position: absolute;
  width: 145px;
  height: 100px;
  background-color: #f9f1e2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.wish-hbd {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}
.wish-hbd.active {
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.7);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
  background-color: #fff;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
}
.wish-hbd.active .card {
  transform: translateY(0);
  opacity: 1;
}
.card .avatar {
  width: 60px;
  height: 60px;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
}

.card-body {
  width: 100%;
  text-align: center;
  margin: 10px;
  font-family: "Moon Dance", cursive;
}
.card-body h3 {
  margin-bottom: 5px;
  line-height: 1;
}
.card-body p {
  font-size: 1rem;
  color: rgb(123, 123, 123);
  line-height: 1.3;
  font-weight: 700;
  margin: 10px auto;
  max-width: 350px;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
}

.btn.btn-close {
  background-color: rgb(200, 52, 91);
  padding: 8px 20px;
}

.btn.btn-open {
  position: absolute;
  left: 47%;
  bottom: 35%;
  transform: translateX(-47%);
  padding: 8px 8px;
  z-index: 4;
  font-size: 0.7rem;
  border-radius: 50%;
  background-color: #fb86a5;
  animation: shake-animation 4.72s ease infinite;
  transform-origin: 50% 50%;
}
@keyframes shake-animation {
  0% {
    transform: translate(0, 0);
  }
  1.78571% {
    transform: translate(5px, 0);
  }
  3.57143% {
    transform: translate(0, 0);
  }
  5.35714% {
    transform: translate(5px, 0);
  }
  7.14286% {
    transform: translate(0, 0);
  }
  8.92857% {
    transform: translate(5px, 0);
  }
  10.71429% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
